# Project Files
bin/
bin-int/

# Visual Studio Files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Codelite Files
.codelite/
.build-debug/
.build-release/
Makefile
**.workspace
**.project
**.mk
**.txt
